<div class="post-list">

<div id="push">
<div class="higherSection">

</div>
<div class="lowerSection">
    <article class="featureArticle post">
        <div class="inner featureVid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iKEaNCNHUjo" frameborder="0" allowfullscreen></iframe>
        </div>
    </article>
    {{#foreach posts}}
        <article class="{{post_class}}">
            <div class="inner">
                <a class="post-link" href="{{url absolute="true"}}"></a>
                {{#if image}}
                <figure class="post-image">
                    <a href="{{url absolute="true"}}"><img src="{{image}}" alt="" /></a>
                </figure>
                {{/if}}
                <span class="post-meta">
                    <span class="post-author">{{author}}</span> | <span class="post-date">{{date format="DD MMM YYYY"}}</span>
                </span>
                <h2 class="post-title"><a href="{{url absolute="true"}}">{{{title}}}</a></h2>
                <p class="post-excerpt">{{excerpt words="50"}}&hellip;</p>
                <span class="post-more"><a href="{{url absolute="true"}}">Read More <i class="icon-arrow-right"></i></a></span>
            </div>
        </article>
    {{/foreach}}
</div>

</div>

</div>

{{pagination}}