{{!--
<i class="fa fa-bars drakoNavHMenu menuBars hvr-icon-down" aria-hidden="true"></i>
<nav class="drakoNavHMenu">
	<div class="navPopout">
	{{#foreach navigation}}
	<li class="hiddendrakolist">
		<a class="{{slug}}{{#if current}} current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
	</li>
	{{/foreach}}
	</div>
</nav>
--}}
<nav class="drakonav">
		{{#foreach navigation}}
		<li class="drakolist">
			<a class="hvr-back-pulse {{slug}}{{#if current}} current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
		</li>
		{{/foreach}}
</nav>
